# Dépendances Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env
.env.local
.env.production

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build
dist/
build/

# Cache
.cache/
.npm/
